<!DOCTYPE html>
<html ng-app='MarketUpdateApp'>
  <head>
    <meta charset="utf-8">
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--link rel="stylesheet" href="styles.css"-->
    <title>Market Update</title>
 
  </head>

  <body>

  
    <div ng-controller='MarketUpdateController as menu'>

		<table>
		  <tr>
		    <td><img src="cdp_logo.png" alt="CDP Logo" width="50%" height="50%"></td>
		    <td align="left" class="text-blue">Market Update alle {{ menu.market_update_set[0].pub_hour }} del {{ menu.market_update_set[0].pub_date | date : 'dd-MM-yyyy'}}</td>
		  </tr>
		</table>

	    <br><hr><br>



		<ul>
		  <li ng-repeat="category in menu.market_update_set | unique : 'cat_name'">
		   	{{ category.cat_name }} 
		   	<ul>
		  	  <li ng-repeat="symbol in menu.market_update_set | filter : {cat_name :  category.cat_name} | unique : 'sym_name'">
		        {{ symbol.sym_name }}
			    <ul>
			  	  <li ng-repeat="value in menu.market_update_set | filter : { cat_name : category.cat_name, sym_name : symbol.sym_name }" >
			        {{ value.val_description }} {{ value.val_value }} 
			      </li>
			  	</ul>
		      </li>
		  	</ul>
		  </li>
		</ul>


<br><hr><br>

		<ul>
		  <li ng-repeat="category in menu.market_update_set | unique : 'cat_name'">
		   	{{ category.cat_name }} 
		   	<ul>
		  	  <li ng-repeat="symbol in menu.market_update_set | filter : {cat_name :  category.cat_name} | unique : 'sym_name'">
		        {{ symbol.sym_name }} {{ symbol.val_description }} {{ symbol.val_value }}
		      </li>
		  	</ul>
		  </li>
		</ul>
      
	    <br><hr><br> 

		<ul>
		  <li ng-repeat="category in menu.market_update_set | unique : 'cat_name'">
		   	{{ category.cat_name }} 
			<ul>
		  	  <li> Debug:</li>			
		  	  <li ng-repeat="symbol1 in menu.market_update_set | PValue : 'cat_name' :  category.cat_name">
		       ->  {{ symbol1.sym_name }} {{ symbol1.val_description }} {{ symbol1.val_value }} {{ symbol1.cat_name }} {{ category.cat_name }}
		      </li>
			</ul>
		  </li>
		</ul>




		<!--table ng-repeat="category in menu.market_update_set | unique : 'cat_name'" class="table table-striped">
	    	<thead>
	        	<tr class="bg-danger text-white">
	            	<th scope="col" colspan = "4">{{ category.cat_name }} </th>
	          	</tr>
	        </thead>
	        <tbody>
	        	<tr ng-repeat="symbol in menu.market_update_set | filter : symbol.cat_name : '{{ category.cat_name }}'">
	        		<td>  {{ symbol.sym_name }} {{ symbol.val_description }} {{ symbol.val_value }} </td>
	        	</tr>
	        </tbody>		
		</table-->



    </div>

  </body>
</html>
