<!DOCTYPE html>
<html ng-app='MarketUpdateApp'>
  <head>
    <meta charset="utf-8">
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--link rel="stylesheet" href="styles.css"-->
    <title>Market Update</title>
 
  </head>

  <body style="color:#001548">




<!--
Tabella di marketupdate dinamica e responsive con un numero massimo di colonne paroi a 4 
Per aggiungere colonne modificare variabile TabColsNum
-->  
    <div class="container-fluid" ng-controller='MarketUpdateController as menu' ng-init="TabColsNum=4">
	
		<br><br>
		

		<table>
		  <tr>
		    <td><img src="cdp_logo.png" class="img-responsive" style="width:90%" alt="CDP Logo"></td>
		    <th class="text-blue h3 text-center"> Market Update delle ore {{ menu.market_update_set[0].pub_hour }} del {{ menu.market_update_set[0].pub_date | date : 'dd-MM-yyyy'}} </th>
		  </tr>
		</table>

    <br><br>


<!--
Tabella di marketupdate
-->  
		<table  class="table table-striped">
	        <tbody ng-repeat="category in menu.market_update_set | unique : 'cat_name'">
	        	<tr class="bg-danger text-white font-weight-bold">
	            	<td scope="col" colspan = "{{  TabColsNum }}">{{ category.cat_des }} </td>
	          	</tr>
	  		    <tr class = "font-weight-bold">
	   		    	<td ng-repeat="title_sym in menu.market_update_set | filter : {cat_name :  category.cat_name} | unique : 'sym_des'" >
	  		    		{{ title_sym.sym_des }} 
	  		        </td>
	  		        <td ng-repeat="title in menu.market_update_set | filter : {cat_name :  category.cat_name} | unique : 'val_description'" >  
	        			 {{ title.val_description }}
	        			 <span ng-if="title.val_unit == 1" >(%)</span>
	        			 <span ng-if="title.val_unit == 2" >(bps)</span>
	        			 <span ng-if="title.val_unit == 5" >(€)</span> 
	        		</td>
<!--
	Aggiunta colonne fino a TabColsNum 
-->
	  		        <td ng-repeat="addcols in menu.market_update_set | filter : {cat_name :  category.cat_name} | unique : 'val_description' | RestN : TabColsNum track by $index"></td>   

	        	<tr ng-repeat="symbol in menu.market_update_set | filter : {cat_name :  category.cat_name} | unique : 'sym_name'">
	        		<td > {{ symbol.sym_name }} </td>
	        		<td ng-repeat="value in menu.market_update_set | filter : { cat_name : category.cat_name, sym_name : symbol.sym_name }" >  
						 {{ value.val_value | number : value.val_precision }} 
	        		</td>
<!--
	Aggiunta colonne fino a TabColsNum 
-->        		
	  		        <td ng-repeat="addcols in menu.market_update_set | filter : { cat_name : category.cat_name, sym_name : symbol.sym_name } | RestN : TabColsNum track by $index"> </td>   

	        	</tr>

	        </tbody>		
		</table>


    </div>

  </body>
</html>